<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Tela de Login</title>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet"> <!-- Importando a fonte do google fonts -->
  <link rel="stylesheet" href="css/styles.css"> <!-- Conectando com a folha de estilos -->

</head>

<body>

  <div class="background">
    <div class="forma_index"></div>
    <div class="forma_index"></div>
  </div>

  <form> <!-- Começo do formulário -->
    <h3>Faça o Login</h3>

    <label for="login">Login</label>
    <input type="text" placeholder="Digite seu e-mail" id="login">

    <label for="senha">Senha</label>
    <input type="password" placeholder="Digite sua senha" id="senha">

    <button type="submit" formaction="http://localhost:3000/todo">Entrar</button>
  
    
    <div class="cadastro">
      <a href = "http://localhost:3000/cadastro" class="linkPagina">Cadastre-se</a>
    </div>

  </form> <!-- Final do formulário -->

  <script>

  </script>

</body>

</html>
